<%= turbo_frame_tag "turbo-content" do %>
  <% content_for :page_title, "Welcome to Blog App" %>
  <div data-controller=""> <!--data controller failing to connect-->
    <div class="container mx-auto py-2">
      <div class="flex gap-5 mb-4 p-2 bg-gray-200">
        <input type="text" id="searchInput" placeholder="Search posts..." class="w-1/3 bg-white placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-3 pr-28 px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow">
        <p id="searchResultsPosts" class="whitespace-nowrap mt-2"></p>
      </div>
      <div id="post_container" class="p-2">
        <% @posts.each do |post| %>
          <div class="post-item flex items-center shadow-md rounded-lg p-2 mb-2 gap-5 bg-yellow-50">
            <div class="p-2">
              <label id="post_<%= post.id %>_title" class="text-xl font-bold">
                <%= link_to post.title, post, class: "text-blue-500 underline" %>
              </label>
              <p id="post_<%= post.id %>_content" class="text-base">
                <% if post.content.split.size > 50 %>
                  <%= post.content.split[0..50].join(" ") %>...
                  <%= link_to "Read More", post, class: "text-blue-500 underline" %>
                <% else %>
                  <%= post.content %>
                <% end %>
              </p>
            </div>
            <div class="flex text-sm px-2 py-1 rounded-full gap-1">
              <%= link_to post_path(post), class: "cursor-pointer" do %>
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2.50002 12.0957C2.50002 6.849 6.75332 2.5957 12 2.5957C17.2467 2.5957 21.5 6.849 21.5 12.0957C21.5 17.3424 17.2467 21.5957 12 21.5957H3.25002C2.94668 21.5957 2.6732 21.413 2.55711 21.1327C2.44103 20.8525 2.50519 20.5299 2.71969 20.3154L4.77303 18.262C3.35633 16.603 2.50002 14.4488 2.50002 12.0957ZM12 4.0957C7.58174 4.0957 4.00002 7.67742 4.00002 12.0957C4.00002 14.305 4.89463 16.304 6.34317 17.7526C6.48382 17.8932 6.56284 18.084 6.56284 18.2829C6.56284 18.4818 6.48382 18.6726 6.34317 18.8132L5.06068 20.0957H12C16.4183 20.0957 20 16.514 20 12.0957C20 7.67742 16.4183 4.0957 12 4.0957Z" fill="#343C54"/>
                </svg>
              <% end %>
              <%= post.comments.where(is_deleted: false).count %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="flex justify-center gap-2 items-center mt-4">
        <button id="post_prev_page" class="flex items-center px-2 py-1 bg-gray-300 rounded">
          <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
          </svg>
          Previous
        </button>
        <div id="post_page_numbers" class="flex gap-2"></div>
        <button id="post_next_page" class="flex items-center px-2 py-1 bg-gray-300 rounded">
          Next
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </button>
      </div>
      <p id="post_page_info" class="text-center mt-2"></p>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const searchInput = document.getElementById("searchInput");
    const posts = document.querySelectorAll(".post-item");

    searchInput.addEventListener("input", function() {
      const searchText = searchInput.value.toLowerCase();
      let ResultsCount=0;

      posts.forEach(post => {
        const title = post.querySelector("label").textContent.toLowerCase();
        const content = post.querySelector("p").textContent.toLowerCase();

        if (title.includes(searchText) || content.includes(searchText)) {
          ++ResultsCount;
          post.style.display = "flex";
        } else {
          post.style.display = "none";
        }
      });
      searchResultsPosts.textContent = ResultsCount > 0 ? `${ResultsCount} results found` : "No results found";

    });
  });


  const postsPerPage = 5;
  let currentPage = 0;

  function updatePostList() {
    const posts = document.querySelectorAll(".post-item");
    const totalPosts = posts.length;
    const totalPages = Math.ceil(totalPosts / postsPerPage);
    const start = currentPage * postsPerPage;
    const end = Math.min(start + postsPerPage, totalPosts);

    posts.forEach((post, index) => {
      post.style.display = (index >= start && index < end) ? "flex" : "none";
    });

    const prevButton = document.getElementById("post_prev_page");
    const nextButton = document.getElementById("post_next_page");

    prevButton.classList.toggle("invisible", currentPage === 0);
    nextButton.classList.toggle("invisible", currentPage >= totalPages - 1);

    const pageNumbersContainer = document.getElementById("post_page_numbers");
    pageNumbersContainer.innerHTML = "";

    let startPage = Math.max(0, currentPage - 2);
    let endPage = Math.min(totalPages, startPage + 5);

    // condition to show 5 pages
    if (endPage - startPage < 5) {
      startPage = Math.max(0, endPage - 5);
    }

    if (currentPage > 0) {
      const prevPage = document.createElement("span");
      prevPage.onclick = () => {
        currentPage--;
        updatePostList();
      };
      pageNumbersContainer.appendChild(prevPage);
    }

    for (let i = startPage; i < endPage; i++) {
        const pageNumber = document.createElement("span");
        pageNumber.textContent = i + 1;
        pageNumber.className = `mx-1 cursor-pointer px-2 py-1 rounded ${
          i === currentPage ? "font-bold bg-green-500 text-white" : "bg-gray-200"
        }`;
        pageNumber.onclick = () => {
          currentPage = i;
          updatePostList();
        };
        pageNumbersContainer.appendChild(pageNumber);
      }
      if (currentPage < totalPages - 1) {
        const nextPage = document.createElement("span");
        nextPage.onclick = () => {
          currentPage++;
          updatePostList();
        };
        pageNumbersContainer.appendChild(nextPage);
      }
    }

  document.getElementById("post_prev_page").addEventListener("click", () => {
    if (currentPage > 0) {
      currentPage--;
      updatePostList();
    }
  });

  document.getElementById("post_next_page").addEventListener("click", () => {
    const totalPosts = document.querySelectorAll(".post-item").length;
    if (currentPage < Math.ceil(totalPosts / postsPerPage) - 1) {
      currentPage++;
      updatePostList();
    }
  });

  document.addEventListener("DOMContentLoaded", updatePostList);
</script>