<!DOCTYPE html> 
<html>
  <head>
    <title>Blog App 3.0</title>
    <%= csrf_meta_tags %>

    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="bg-gray-100 text-gray-900">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <!-- Navbar -->
    <nav class="bg-blue-400 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <%= link_to 'Blog app 3.0', posts_path, class: "text-white text-xl font-bold" %>
        <div class="flex gap-2">
          <%= link_to "Create New Post", new_post_path, class: "text-white bg-yellow-500 hover:bg-yellow-600 px-4 py-2 rounded" %>
          <%= link_to root_path, class: "text-white bg-grey-500 px-4 py-2 rounded" do %>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
          </svg>

          <% end %>
        </div>
      </div>
    </nav>

    <!-- Hero Section -->
    <section class="text-black py-16">
      <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold">
          <%= yield :page_title %>
        </h1>
      </div>
    </section>

    <!-- Main Content -->
    <main class="container mx-auto py-8">
      <%= yield %>
    </main>

  </body>
</html>
