<!DOCTYPE html> 
<html>
  <head>
    <title>Blog App 3.0</title>
    <%#= csrf_meta_tags %>

    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="bg-yellow-100 text-gray-900">
    <div class="text-center">
      <p class="notice bg-green-400 text-black"><%= notice %></p>
      <p class="alert bg-red-500 text-white"><%= alert %></p>
    </div>    
    <!-- Navbar -->
    <%= render partial: "loggedin/navbar" %>

    <!-- Hero Section -->
    <%= render partial: "loggedin/hero" %>


    <!-- Main Content -->
    <%= turbo_frame_tag "turbo-content", class: 'turbo-content-main flow-root px-3 pb-7 border-2 pt-0' do %>
      <%= yield %>
    <% end %>

  </body>
</html>
